<div class="card card-booking mb-3">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h2 class="card-title pt-3"><%= link_to booking.field.name, field_path(booking.field), class:"text-secondary" %></h2>
      <div class="badge rounded-pill py-2 px-3 ms-2
                  <%= "text-bg-warning" if booking.status == 'pending' %>
                  <%= "text-bg-success" if booking.status == 'confirmed' %>
                  <%= "text-bg-danger" if booking.status == 'rejected' %> ">
        <%= booking.status ? booking.status : "--" %>
      </div>
    </div>
    <p class="card-text">
      <div class="booking-content">
        <div class="booking-field-img"
                 style="background-image:url(<%= booking.field.featured_img? ? cl_image_path(booking.field.featured_img) : image_url('https://images.unsplash.com/photo-1573351106568-7c0784fb6456?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80') %>);">
        </div>
        <div class="booking-info flex-grow-1">
          <% if current_user.landowner %>
            <p><strong>Request from: </strong> <%= booking.user.name %></p>
            <p><strong>Price per day: </strong> 짜 <%= number_to_currency(booking.field.price, unit: "", precision: 0) %></p>
            <p><strong>Renting start: </strong> <%= booking.date_from %></p>
            <p><strong>Renting ends: </strong> <%= booking.date_to %></p>
            <p><strong>Total days: </strong> <%=  pluralize( booking.days, 'Day' ) %></p>
            <p><strong>Total amount: </strong>짜 <%= number_to_currency(booking.full_price, unit: "", precision: 0) %></p>
            <div class="btn-group-booking flex-sm-column">
              <% if booking.status == 'pending' %>
                <%= simple_form_for booking, url: landowner_booking_path(booking) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
                  <%= f.submit 'Confirm booking', class: 'btn btn-primary booking-btn' %>
                <% end %>
                <%= simple_form_for booking, url: landowner_booking_path(booking) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject booking', class: 'btn btn-outline-danger booking-btn' %>
                <% end %>
              <% end %>
              <%#= link_to  'See field', field_path(booking.field), class:"btn btn-secondary booking-btn px-4" %>
            </div>
          <% else %>
            <p><strong>Price per day: </strong> 짜 <%= number_to_currency(booking.field.price, unit: "", precision: 0) %></p>
            <p><strong>Renting start: </strong> <%= booking.date_from %></p>
            <p><strong>Renting ends: </strong> <%= booking.date_to %></p>
            <p><strong>Total days: </strong> <%=  pluralize( booking.days, 'Day' ) %></p>
            <p><strong>Total amount: </strong>짜 <%= number_to_currency(booking.full_price, unit: "", precision: 0) %></p>
            <p><strong>Owner: </strong> <%= booking.field.user.name %></p>
            <div class="btn-group-booking flex-sm-column">
              <%= link_to  'See field', field_path(booking.field), class:"btn btn-primary booking-btn px-4" %>
              <% if booking.status != 'rejected' %>
                <% if policy(booking).edit? %>
                  <button type="button" class="btn btn-primary booking-btn px-4" data-bs-toggle="modal" data-bs-target="#modal<%= i %>">
                    Change dates
                  </button>
                <% end %>
                <%= link_to 'Cancel booking', booking_path(booking), data: { turbo_method: :delete  , turbo_confirm: "Cancel this booking ?" }, class:"btn btn-outline-danger booking-btn"  %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </p>
  </div>
</div>
