<div data-controller="total">
  <%= simple_form_for [@field, @booking], data: {turbo: false} ,  data: { action: "change->total#calculate" } do |f| %>
    <%= f.input :date_from, html5: true, input_html: { data: {total_target:"startDay", action: "change->total#calculate"} } %>
    <%= f.input :date_to, html5: true, input_html: { data: {total_target:"endDay", action: "change->total#calculate"} } %>
    <hr>
    <div class="mb-3">
      <h3 >Price per day: ¥ <span data-total-target="price"><%= @field.price %></span>  </h3>
      <h3>Total: ￥<span data-total-target="amount">0</span></h3>
    </div>
    <div class="d-flex">
      <%= f.submit 'Request Booking', class: "btn btn-primary btn-lg flex-grow-1" %>
    </div>
  <% end %>
</div>
