<div class="d-flex main-container-1">
  <div class="d-flex flex-column align-items-start justify-content-center item-left">
    <h1>Welcome to MinaNoka!</h1>
    <p>Lorem ipsum dolor sit amet consectetur. Quis lacus faucibus
      convallis sociis facilisi faucibus fermentum. Eu nullam hac orci
      neque mi.</p>
    <button type="button" class="btn btn-primary">CTA Button</button>
  </div>
  <div class="d-flex">
    <%= image_tag "rice_field.jpg", alt: "Farming", width: 200, class:"top-section-image" %>
  </div>
</div>
<div class="main-container-2">
  <div class="d-flex justify-content-between header-section-2">
    <div class="flexbox-item1">
      <h2 class="h2-home">Most popular fields</h2>
    </div>
    <div class="flexbox-item-2 seemore">
      <p><%= link_to "see more", fields_path %></p>
    </div>
  </div>
  <div class="cards-home">
    <div class="card-home">
      <%= image_tag "rice_field.jpg", alt: "Farming", width: 200 %>
    </div>
    <div class="card-home">
      <%= image_tag "rice_field.jpg", alt: "Farming", width: 200 %>
    </div>
    <div class="card-home">
      <%= image_tag "rice_field.jpg", alt: "Farming", width: 200 %>
    </div>
  </div>
  <div class="home-footer footer">
    <h2 class="h2-home">What is MinaNoka?</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel. Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel. Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel</p>
    <%= image_tag "rice_field.jpg", alt: "Farming", class:"footer-image"%>
    <p>Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel. Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel. Lorem ipsum dolor sit amet consectetur. Nec fringilla
      quis velit. Posuere velit lorem dis nulla risus viverra. Diam urna
      eleifend arcu at vel phasellus. Scelerisque nisl ornare quam amet diam
      tortor mauris. Amet euismod amet lacus nunc adipiscing. Sit pellentesque
      scelerisque fringilla fames sit ullamcorper. Consectetur tel</p>
  </div>
