<div class="container mt-5">
  <div>
    <%= form_tag(fields_path, method: :get) do  %>
      <%= select_tag(:column_name, options_for_select(["location","price", "size"], params[:column_name] ), class:"select") %>
      <%= text_field_tag(:search_value,  params[:search_value], class: "class") %>
      <%= submit_tag "search", class: "class" %>
    <% end %>
  </div>
  <h1>Fields#index</h1>
  <h3>There are <%= pluralize(@fields.count, 'field') %></h3>
  <div class="row gy-3">
    <% @fields.each do |field| %>
      <%= render 'fields/card', field: field %>
    <% end %>
  </div>
</div>
